@import "tailwindcss";

@config "../../tailwind.config.js";

@utility link {
  text-decoration-line: underline;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  &:hover {
    color: white;
  }
  &:active {
    color: white;
  }
}

/* Workaround for mobile viewports */
@utility h-full-screen {
  position: fixed;
  height: 100%;
  overscroll-behavior: none;
}

.leaflet-control-attribution > a {
  text-decoration-line: underline;
}
